body {
  color: black;
}
.idea-box {
  background-color: #FFF0A5;
  padding: 20px;
}

nav {
  overflow:hidden;
padding:3px;
padding-top:4px;
margin-left:-1px;
margin-top:2px;
display: inline-block;
font-family:'Viga', arial, sans-serif;
font-size:14px;
text-align: center;
text-transform:uppercase;
text-decoration:none;
color: #000;
background-color:#EEEBEB;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;
list-style-type: none;
}

li {
  display: inline-block;
  text-align: center;
}

li a {
  border-radius: 0px 0px 0px 0px;
  background-color: #EEEBEB;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #CECECE;
}

h1 {
  text-align: center;
  color: #FFB03B;
}

h2 {
  color: #468966;
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFB03B;
  border-radius: 5px;
  text-align: center;
}

.thanks {
  font-family:'Viga', arial, sans-serif;
  font-size:14px;
  padding-top: 10px;
  text-transform: uppercase;
}

input[type=text] {
  color: #000000;
  font-size: 14px;
}

input[type=submit] {
   color: #FFFFFF;
   border: 10px solid #E8CFA4;
   background-color: #E8CFA4;
}
