body {
  color: black;
  background-color: #FFF6E5;
}

.idea-box {
  background-color: #FFF6E5;
  padding: 20px;
}

nav {
  overflow:hidden;
padding:3px;
padding-top:4px;
margin-left:-1px;
margin-top:2px;
display: inline;
font-family:"Courier New", Courier, monospace;
font-size:14px;
text-align: center-block;
text-transform:uppercase;
text-decoration:none;
color: white;
background-color: #FFF6E5;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;
list-style-type: none;
}

li {
  display: inline-block;
  text-align: block;
}

li a {
  border-radius: 0px 0px 0px 0px;
  background-color: #FF7F66;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #FFA994;
}

h1 {
  text-align: center;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #FF7F66;
}

h2 {
  color: #468966;
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #7ECEFD;
  text-align: center;
}

img {display: block
  center;
}

.thanks {
  font-family:'Viga', arial, sans-serif;
  font-size:14px;
  padding-top: 10px;
  text-transform: uppercase;
}

input[type=text] {
  color: #000000;
  font-size: 14px;
}

input[type=submit] {
   color: #FFFFFF;
   border: 10px solid #E8CFA4;
   background-color: #E8CFA4;
}

.space {
  padding-top: 10px;
}

.innerspace {
  display: block;
  padding-left: 10px;
  padding-bottom: 10px;
}

.centreme {
  padding-left: 60px;
}
